.__dumi-default-navbar{
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
}
.__dumi-default-navbar nav > span{
    height: 52px;
    line-height: 52px;
}
.__dumi-default-dark{
    display: none;
}
.__dumi-default-navbar-logo{
    height: 32px;
    line-height: 32px;
}
@media only screen and (min-width: 768px){
    .__dumi-default-menu[data-mode='site'] {
        top: 50px;
        width: 260px;
        padding-top: 30px;
        background: transparent;
    }
}
.__dumi-default-layout{
    padding-top: 86px!important;
    padding-left: 290px!important;
    padding-right: 238px!important;
}
.__dumi-default-menu-list>li>a{
    padding-left: 40px!important;
}
.__dumi-default-menu-list>li>ul{
    margin-left: 40px!important;
}
.__dumi-default-layout-toc{
    width: 188px;
}
@media only screen and (min-width: 1300px){
    .__dumi-default-layout-toc{
        width: 240px;
    }
    .__dumi-default-layout{
        padding-right: 288px!important;
    }
}
