.pagi-basic {
    margin-top: 18px;
    font-size: 0;
    display: inline-block;
}

.pagi-basic .page-li {
    display: inline-block;
    font-size: 15px;
    line-height: 1;
    user-select: none;
}

.pagi-basic .page-li:hover {
    cursor: pointer;
    background-color: #EAEAEA;
}

.pagi-basic .page-li.page-active {
    cursor: default;
    color: #fff;
    border-color: #555555;
    background-color: #555555;
}

.pagi-basic .page-li.number-ellipsis {
    border: none;
    cursor: default;
}

.pagi-basic .page-li.number-ellipsis:hover {
    background-color: #fff;
}

.pagi-basic .page-number {
    width: 38px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #EAEAEA;
    text-align: center;
}

.pagi-basic .page-prev {
    padding: 8px 14px;
    margin-right: 8px;
    border: 1px solid #EAEAEA;
}

.pagi-basic .page-prev.no-prev {
    color: #c6c6c6;
}

.pagi-basic .page-prev.no-prev:hover {
    cursor: default;
    background-color: #fff;
}

.pagi-basic .page-next {
    padding: 8px 14px;
    margin-left: 8px;
    border: 1px solid #EAEAEA;
}

.pagi-basic .page-next.no-next {
    color: #c6c6c6;
}

.pagi-basic .page-next.no-next:hover {
    cursor: default;
    background-color: #fff;
}

.pagination-container .number-ellipsis {
    display: inline-block;
    font-size: 15px;
    padding: 8px 14px;
}

.pagi-basic .number-ellipsis.page-hidden {
    display: none;
}

.pagination-container .page-go-number {
    width: 40px;
    border:1px solid #555555;
}
